


  


.header {
  display: flex;
  .navbar {
    display: flex;
    bg
  
    &__nav {
     
      font-size: 35px;
      display: flex;
     
    }
  }
}

a {
  text-decoration: none;
  
}

li {
  padding-left: 20px;
  list-style: none;
}

.bober {
  display: flex;
  align-items: center;
}

