.header {
  display: flex;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 91, 193, 0.6);
  ;

  .navbar {
    display: flex;


    &__nav {
text-decoration: none;
      font-size: 35px;
      display: flex;

    }
  }

  a {
    text-decoration: none;
  }

  li {
    padding-left: 20px;
    list-style: none;
  }

  .bober {
    display: flex;
    align-items: center;
  }

  a {
    color: white;
  }
 
}