.home {
	height: 100vh;
	background: url(../images/header/disco2.jpg) center/cover;
	position: relative;

	.bebra {
		color: white;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 48px;
		padding-top: 282px;
	}

	.transparent-block {
		position: absolute;
		top: 0;
		left: 20%;
		width: 444px;
		height: 100%;
		background: rgba(0, 91, 193, 0.6);
	}

	.wrapper {
		position: relative;
		z-index: 1;
	}

	.text1 {
		color: white;
		display: flex;
	justify-content: center;
    
	}

	.baton {
		top: 400px;
		left: 231px;
	}

}