.hussy {
    
  .projects {
    // font-family: Oswald;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    font-family: Oswald;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  .negrilla {
    // position: absolute;
    // width: 12.59px;
    // height: 0px;
    // left: 1483.81px;
    // top: 987px;
    left: 300px;
  }
  .negretenok {
      
  }
}
