@import url(https://fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 10;
  width: 100%;
  background-color: rgba(0, 91, 193, 0.6);
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.header .logo h1 {
  font-size: 24px;
  line-height: 1;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .navbar__nav {
  text-decoration: none;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header a {
  text-decoration: none;
}

.header li {
  padding-left: 20px;
  list-style: none;
}

.header .bober {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 40px;
}

.header a {
  color: white;
}

.home {
  height: 100vh;
  background: url(../images/header/disco2.jpg) center/cover;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home > div {
  margin-top: 80px;
  height: calc(100% - 80px);
}

.home .bebra {
  font-family: 'Oswald';
  font-weight: 400;
  color: white;
  font-size: 48px;
  padding-top: 282px;
  line-height: 71px;
  margin-bottom: 40px;
}

.home .transparent-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 444px;
  height: 100%;
  background: rgba(0, 91, 193, 0.6);
  z-index: -1;
}

.home .wrapper {
  height: 100%;
  position: relative;
  z-index: 1;
  padding-left: 190px;
}

.home .text1 {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: white;
  margin-bottom: 40px;
}

.home .baton {
  top: 400px;
  left: 231px;
}

.home .lmao {
  text-decoration: none;
}

.home .lol {
  text-decoration: none;
}

.h {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

.footer {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}
